{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center text-center mb-5">
    <div class="col-sm-12 col-md-8">
        <h1 class="text-info mb-3">Discover People</h1>
        {% for person in people %}
            {% if request.user not in person.profile.followers.all and request.user != person %}
                <div class="card shadow-lg mb-3">
                    <img src="{{ person.profile.avatar.url }}" class="img-fluid">
                    {% if person.profile.username %}
                        <h5 class="p-3">
                            <a href="{% url 'profile-page' person.pk %}" class="text-decoration-none">
                                {{ person.profile.username }}
                            </a>
                        </h2>
                    {% else %}
                        <h5 class="p-3">
                            <a href="{% url 'profile-page' person.pk %}" class="text-decoration-none">
                                {{ person.author.username }}
                            </a>
                        </h2>
                    {% endif %}
                    <p class="mt-0">{{ person.profile.followers.all.count }} followers</p>
                    
                    <form method="POST" action="{% url 'add-follower' person.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-info mb-2">Follow</button>
                    </form>

                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}