{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-sm-8 col-md-6">
        <div class="card shadow-sm p-5 bg-light">
            <h2 class="lead mb-4 text-center">Register here</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-4">Sign Up</button><br>
            </form>
            <small class="text-muted mt-2 text-center">
                Already have an account ? <a href="{% url 'login-page' %}">Login here</a>
            </small>
        </div> 
    </div>
</div> 

{% endblock %}